/*
   neděle 26. ledna 202518:31:00
   User: sa
   Server: X1KRATA\SQLEXPRESS
   Database: drevo
   Application: 
*/

/* To prevent any potential data loss issues, you should review this script in detail before running it outside the context of the database designer.*/
BEGIN TRANSACTION
SET QUOTED_IDENTIFIER ON
SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
COMMIT
BEGIN TRANSACTION
GO
CREATE TABLE dbo.Tmp_SYNMASTER
	(
	idSYN int NOT NULL IDENTITY (1, 1) NOT FOR REPLICATION,
	adapter varchar(10) NOT NULL,
	cliSYN int NOT NULL
	)  ON [PRIMARY]
GO
ALTER TABLE dbo.Tmp_SYNMASTER SET (LOCK_ESCALATION = TABLE)
GO
SET IDENTITY_INSERT dbo.Tmp_SYNMASTER ON
GO
IF EXISTS(SELECT * FROM dbo.SYNMASTER)
	 EXEC('INSERT INTO dbo.Tmp_SYNMASTER (idSYN, adapter)
		SELECT idSYN, CONVERT(varchar(10), typSYN) FROM dbo.SYNMASTER WITH (HOLDLOCK TABLOCKX)')
GO
SET IDENTITY_INSERT dbo.Tmp_SYNMASTER OFF
GO
ALTER TABLE dbo.REPX
	DROP CONSTRAINT FK_REPX_SYNMASTER
GO
DROP TABLE dbo.SYNMASTER
GO
EXECUTE sp_rename N'dbo.Tmp_SYNMASTER', N'SYNMASTER', 'OBJECT' 
GO
ALTER TABLE dbo.SYNMASTER ADD CONSTRAINT
	PK_SYNMASTER PRIMARY KEY CLUSTERED 
	(
	idSYN
	) WITH( STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
COMMIT
BEGIN TRANSACTION
GO
ALTER TABLE dbo.REPX ADD CONSTRAINT
	FK_REPX_SYNMASTER FOREIGN KEY
	(
	idSYN
	) REFERENCES dbo.SYNMASTER
	(
	idSYN
	) ON UPDATE  NO ACTION 
	 ON DELETE  NO ACTION 
	
GO
ALTER TABLE dbo.REPX SET (LOCK_ESCALATION = TABLE)
GO
COMMIT
